package {class.package}

import java.util.List;
import {model.package};

public interface {ModelName}Service {
	
	User findBy{ModelName}(long id);
	
	User findByName(String name);
	
	void save{ModelName}({ModelName} {modelName});
	
	void update{ModelName}({ModelName} {modelName});
	
	void delete{ModelName}ById(long id);

	List<{ModelName}> findAll{ModelName}s(); 
	
	void deleteAll{ModelName}s();
	
	public boolean is{ModelName}Exist({ModelName} {modelName});
	
}
